{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'guest_management.css' %}">
<style media="screen">
  thead {
    position: -webkit-sticky;
    position: sticky;
  }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-responsive">
        <thead style="">
          <tr>
            <th rowspan="2">#No</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Nickname</th>
            <th rowspan="2">Side</th>
            <th rowspan="2">Labels</th>
            <th rowspan="2">Priority</th>
            <th colspan="3">Confirmed</th>
            <th rowspan="2">Password</th>
            <th rowspan="2">Transport</th>
            <th rowspan="2">Night stay</th>
            <th rowspan="2">Food</th>
            <th rowspan="2">Confirmed</th>
            <th rowspan="2">Confirm date</th>
          </tr>
          <tr>
            <th>Adults</th>
            <th>Children</th>
            <th>Toddlers</th>
          </tr>
        </thead>
        <tbody>
          {% for guest in guest_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ guest.name }}</td>
              <td>{{ guest.nickname }}</td>
              <td>{{ guest.side }}</td>
              <td>{{ guest.format_labels }}</td>
              <td>{{ guest.priority }}</td>
              <td>{{ guest.confirmed_adults }}</td>
              <td>{{ guest.confirmed_children }}</td>
              <td>{{ guest.confirmed_toddlers }}</td>
              <td>{{ guest.password }}</td>
              <td>{{ guest.transport }}</td>
              <td>{{ guest.night_stay }}</td>
              <td>{{ guest.food_type }}</td>
              <td>{{ guest.contact_info }}</td>
              <td>{{ guest.confirm }}</td>
              <td>{{ guest.confirmation_date }}</td>
              <td>{{ guest.additional_info }}</td>
              <td>{{ guest.invitation_given }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
