{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title|default_if_none:"Slub Krzysztofa i Agaty 2018" }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </head>
  <body>
    <h1>{{ title|default_if_none:"Slub Krzysztofa i Agaty 2018" }}</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
